@model LoginView
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_NoAuth.cshtml";
}
@section styles 
{
	<style type="text/css">
		body 
		{ 
			background: url(@Href("~/Content/img/blur1.jpg")) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.navbar-inner {background:none;box-shadow:none; }
		.navbar .nav > li > a, .navbar .nav > li > a:visited, .navbar .nav > li > a:active, .navbar .nav > li > a:link {color:#333;text-shadow:none; }
		.navbar .nav > li > a:hover {color:#444;text-shadow:none;text-decoration:underline }
		.navbar .brand {color:#333;font-weight:bold;}
		.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret { border-top-color:#333;}
	</style>
	
}


@if (Model.Messages != null && Model.Messages.Count() > 0)
{
	foreach (var msg in Model.Messages)
	{
		<div class="alert-message @msg.Style.ToLowerInvariant()">@Html.Raw(msg.Value)</div>
	}
}

<div class="login-container">
	<p class="church">REPHIDIM CHURCH</p>
	<div class="public-links">
		<p class="center-align" style="margin-bottom:10px;"><a href="@(Url.Action<AccountsController>(x => x.Docs("about")))">About</a> &nbsp;&bull;&nbsp; <a href="@(Url.Action<AccountsController>(x => x.Docs("statement-of-faith")))">Statement of Faith</a> &nbsp;&bull;&nbsp; <a href="@(Url.Action<AccountsController>(x => x.Docs("purpose")))">Purpose</a></p>
		<p class="center-align"><a href="@(Url.Action<AccountsController>(x => x.Docs("financial-policy")))">Financial Policy</a> &nbsp;&bull;&nbsp; <a href="@(Url.Action<AccountsController>(x => x.Docs("customary-assembly-practices")))">Customary Assembly Practices</a></p>
	</div>
</div>
<div class="footer">&copy; Rephidim Church 1971-@DateTime.Now.Year &nbsp;&bull;&nbsp; 4430 Allendale Rd, Wichita Falls, TX 76310 &nbsp;&bull;&nbsp; (940) 691-1166 &nbsp;&bull;&nbsp; <a href="mailto:rci@wfbiz.rr.com" style="color:#333;text-decoration:underline;">Email us</a></div>

<div id="uxLoginDialog" class="none">

	@using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { id = "frmLogin", @class = "form-inline" }))
	{
		@Html.HiddenFor(m => m.ReturnUrl)
		@Html.ValidationMessageFor(m => m.UserName, "User Name is required.", new { @class = "alert-message error" })
		@Html.ValidationMessageFor(m => m.Password, "Password is required.", new { @class = "alert-message error" })
		@Html.ValidationMessageFor(m => m.Error, "Authentication Failed. Please try again.", new { @class = "alert-message error" })
		<div class="clear login-bg ">
			<div class="login-contents" style="border:none 0px;">
				<br />
				<div id="user-box" class="control-group @(Model.UserName != null && Model.UserName.MatchesTrimmed("rephidim") ? "none" : "")">
					<label class="control-label" for="UserName">User Name:</label> @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter User Name" })<br />
				</div>
				<div class="control-group">
					<label class="control-label" for="Password">Password:</label> @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Password" }) &nbsp; <input type="submit" class="btn" value="Login" />
				</div>
				<hr />
				<p style="text-align:center;color:#999;">If you'd like to request access to the password-protected resources on this site please call 940-691-1166 or <a href="mailto:rci@wfbiz.rr.com">email us</a> for the password.</p>
			</div>
			<a id="lnk-cancel" class="" href="#">Cancel</a>
			<a id="lnk-more" class="@(Model.UserName != null && Model.UserName.MatchesTrimmed("rephidim") ? "" : "none")" href="#">More Options</a>
		</div>
	}

</div>


 @section scripts
 {
<script type="text/javascript">
		$(function ()
		{
			var showDialog = function ()
			{
				$("#uxLoginDialog").dialog(
				{
					width: 470,
					height: 278,
					modal: true,
					resizable: false,
					open: function ()
					{
						$(".ui-dialog .ui-dialog-titlebar").remove()
					}
				});
			};

			$("#lnk-more").click(function ()
			{
				$("#UserName").val("");
				$("#user-box").fadeIn();
				$(this).hide();
			});

			$("#lnk-cancel").click(function ()
			{
				$("#uxLoginDialog").dialog("close");
			});

			@if (Model.ShowLogin)
			{
				<text>showDialog();</text>
			}

			$("#lnk-login").click(function(e)
			{
				e.preventDefault();
				showDialog();
			})

		});
</script>
 }