@model Web.Models.GlossaryView

@{
	ViewBag.Title = Model.ActiveTerm != null ? Model.ActiveTerm.Term + " - Glossary" : "Glossary";
	ViewBag.NavGlossary = true;
	Bundles.Reference("content/templates/glossary");
}

<div class="row">
	<div class="span5 module">
		<div class="scrollable" id="uxList">
			<ul id="ulTerms" class="unstyled"></ul>
		</div>
		<div id="uxFooter" class="center-align">
			Version: 
			@if (User.IsInRole("Edit")) 
			{ 
				<a href="#" id="lnkVersion">@Model.Version.Number</a>  
			}
			else 
			{ 
				<span>@Model.Version.Number</span>  
			}
			// Terms: @Model.Terms.Count()</div>
	</div>
	<div class="span11" id="uxTerm">
	</div>
</div>

@section templates
{
	@Bundles.RenderHtmlTemplates()
}

@section scripts
{
	<script type="text/javascript">		
		$(function ()
		{
			var terms = @Html.Raw(Json.Encode(Model.Terms));
			var activeTerm = @Html.Raw(Json.Encode(Model.ActiveTerm));
			window.Glossary = new App.Glossary(terms, activeTerm);
		});
	</script>

}
