@model Web.Models.FileOptions
@{
	Layout = null;

}
<div>
	<h4 style="margin:-5px auto 0px auto">@Model.File.Name</h4>
	<span class="small-info"><b>Size:</b> @Model.File.Size, <b>Loaded:</b> @string.Format("{0:M/d/yy h:mm tt}", Model.File.IsNew ? Model.File.DateCreated : Model.File.DateModified)</span>
</div>
<br />
<div>
	<a class="btn btn-primary btn-large btn-block" href="@(Url.Action<FilesController>(x=>x.Open(Model.File.Path)))" target="_blank"><i class="icon-white icon-ok"></i> Open in browser</a>
	@if (Model.File.Extension.MatchesTrimmed("pdf") || Model.File.Extension.MatchesTrimmed("mp3"))
	{			
		<a class="btn btn-success btn-block btn-large goodreader" href="@("g" + Url.Action<FilesController>(x=>x.Open(Model.File.Path)))" target="_blank"><i class="icon-white icon-eye-open"></i> Open in GoodReader™</a>
	}
	<a class="btn btn-success btn-block btn-large download" href="@(Url.Action<FilesController>(x=>x.Download(Model.File.Path)))" target="_blank"><i class="icon-white icon-download-alt"></i> Download & Save</a>
</div>
<br />
<form id="frmEmail">
	<input type="email" id="txtEmail" placeholder="Email Address" class="input-block-level" /> 
	<button type="submit" id="btnEmail" class="btn btn-inverse btn-large btn-block"><i class="icon-white icon-envelope"></i> Send Email</button>
</form>