@model HomeView
@using System.Text.RegularExpressions;
@{
	ViewBag.Title = "Home";
	ViewBag.NavHome = true;
}

<div class="row header-content">
	<div class="span12">
		@if (Model.Messages != null && Model.Messages.Count() > 0)
		{ 
			foreach (var msg in Model.Messages)
			{
				<div class="alert-message @msg.Style.ToLowerInvariant()">@Html.Raw(msg.Value)</div>
			}
		}
	</div>
</div>
<div class="row">
	<div class="span4 module primary-content" id="uxVerses">
		<h1>Recent Verses (@(Model.RecentVerses != null && Model.RecentVerses.Count() > 0 ? Model.RecentVerses.Count() : 0))</h1>
		<div class="scrollable">
			@if (Model.RecentVerses != null && Model.RecentVerses.Count() > 0)
			{
				<ul class="unstyled lines">
					@foreach (var verse in Model.RecentVerses)
					{
						Html.RenderPartial("~/Views/Scripture/_Verse.cshtml", verse);
					}
				</ul>
			}
			else
			{
				<div class='message'><div><span>No verses.</span></div></div>
			}
		</div>
	</div>
	<div class="span4 module primary-content" id="uxGlossary">
		<h1>Recent Terms (@(Model.RecentTerms != null && Model.RecentTerms.Count() > 0 ? Model.RecentTerms.Count() : 0))</h1>
		<div class="scrollable">
			@if (Model.RecentTerms != null && Model.RecentTerms.Count() > 0)
			{
				<ul class="unstyled lines">
					@foreach (var term in Model.RecentTerms)
					{
						Html.RenderPartial("~/Views/Glossary/_Term.cshtml", term);
					}
				</ul>
			}
			else
			{
				<div class='message'><div><span>No terms.</span></div></div>
			}
		</div>
	</div>
	<div class="span4 module primary-content" id="uxFiles">
		<h1>Recent Files (@(Model.RecentFiles != null && Model.RecentFiles.Count() > 0 ? Model.RecentFiles.Count() : 0))</h1>
		<div class="scrollable">
			@if (Model.RecentFiles != null && Model.RecentFiles.Count() > 0)
			{
				<ul class="unstyled lines">
					@foreach (var file in Model.RecentFiles)
					{
						Html.RenderPartial("~/Views/Files/_File.cshtml", file);
					}
				</ul>
			}
			else
			{
				<div class='message'><div><span>No files.</span></div></div>
			}
		</div>
	</div>
</div>
@Html.Partial("~/Views/Files/_Dialog.cshtml")
