@model HomeView
@{
	ViewBag.Title = "Home";
	ViewBag.NavHome = true;
	Bundles.Reference("content/templates/results");
}

<div class="row" id="uxHeader">
	<div class="span16">
		@if (Model.Messages != null && Model.Messages.Count() > 0)
		{ 
			foreach (var msg in Model.Messages)
			{
				<div class="alert-message @msg.Style.ToLowerInvariant()">@Html.Raw(msg.Value)</div>
			}
		}
	</div>
</div>
<div class="row">
	<div class="span8 module" id="uxGlossary"></div>
	<div class="span8 module" id="uxFiles"></div>
</div>


@section templates
{
	@Bundles.RenderHtmlTemplates()
}
@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			var Home = new App.Home(@Html.Raw(Json.Encode(Model.RecentTerms)), @Html.Raw(Json.Encode(Model.RecentFiles)));
		});
	</script>
}



