@model HomeView
@{
    ViewBag.Title = "Home";
	ViewBag.NavHome = true;
}

<div class="row">
	<div class="span16">
		<h1>Recent Messages:</h1>
		<ul>
			@if (Model.Messages == null || Model.Messages.Count() == 0)
			{ 
				<li>None</li>
			}
			else
			{
				foreach (var item in Model.Messages)
				{
					<li>@item.Value</li>
				}
			}
		</ul>
	</div>
</div>
<div class="row">
	<div class="span8">
		<h1>Recently Added/Modified Files:<br /><span class="label success">Created</span> <span class="label notice">Modified</span></h1>
		<ul>
			@if (Model.RecentTerms == null || Model.RecentTerms.Count() == 0)
			{ 
				<li>None</li>
			}
			else
			{
				foreach (var item in Model.RecentTerms)
				{
					<li>@item.Term 
						@if (item.DateModified == null)
						{
							<span class="label success">@item.DateCreated.RelativeToNow()</span>
						}
						else
						{
							<span class="label notice">@item.DateModified.RelativeToNow()</span>
						} 
					</li>
				}
			}
		</ul>
	</div>
	<div class="span8">
		<h1>Recently Added/Modified Terms:</h1>
		<ul>
			@if (Model.RecentTerms == null || Model.RecentTerms.Count() == 0)
			{ 
				<li>None</li>
			}
			else
			{
				foreach (var item in Model.RecentTerms)
				{
					<li>@item.Term (Created: @item.DateCreated.RelativeToNow(), Last Modified: @item.DateModified.RelativeToNow())</li>
				}
			}
		</ul>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">

	</script>

}
