@{	
	Layout = "_Master.cshtml";
}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="@(Url.Action<HomeController>(x => x.Home()))">Rephidim</a>
			<ul class="nav">
				<li @(ViewBag.NavHome != null && ViewBag.NavHome == true ? "class=active" : "")><a href="@(Url.Action<HomeController>(x => x.Home()))">Home</a></li>
				<li @(ViewBag.NavGlossary != null && ViewBag.NavGlossary == true ? "class=active" : "")><a href="@(Url.Action<GlossaryController>(x => x.Term(null, null)))">Glossary</a></li>
				<li @(ViewBag.NavFiles != null && ViewBag.NavFiles == true ? "class=active" : "")><a href="@(Url.Action<FilesController>(x => x.Browse(null)))">Files</a></li>
				<li @(ViewBag.NavScripture != null && ViewBag.NavScripture == true ? "class=active" : "")><a href="@(Url.Action<ScriptureController>(x => x.Read("Genesis", 1, 1)))">Bible</a></li>
				<li class="dropdown @(ViewBag.NavOther != null && ViewBag.NavOther == true ? "active" : "")">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="@(Url.Action<StaticController>(x => x.Show("tapelist.pdf")))">Tape List</a></li>
						<li class="divider"></li>
						<li><a class="link-large" href="@(Url.Action<StaticController>(x => x.Show("chronology.html")))">Chronology (Full Version)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("chrono.html")))">Chronology (Compact Version)</a></li>
						<li class="divider"></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Front.pdf")))">Atlas (Introduction)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Chapter1.pdf")))">Atlas (Ch 1 - L/G/H Interpretation)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Chapter2.pdf")))">Atlas (Ch 2 - Reliability)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Chapter3.pdf")))">Atlas (Ch 3 - Canonicity)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Chapter4.pdf")))">Atlas (Ch 4 - Divine Revelation)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Chapter5.pdf")))">Atlas (Ch 5 - Attributes of God)</a></li>
						<li><a href="@(Url.Action<StaticController>(x => x.Show("Atlas_Addenda.pdf")))">Atlas (Addenda)</a></li>
					</ul>
				</li>
			</ul>
			<form id="frmNavSearch" method="get" class="navbar-search pull-left form-search" action="@(Url.Action<HomeController>(x => x.Search(null)))">
				<input type="text" class="span2" placeholder="Search Everything" value="@ViewBag.SearchQuery" name="query" />
				<span id="uxAppWait" class="wait-light" style="display:none;"></span>
			</form>
			<ul class="nav pull-right">
				<li><a href="#" class="help" style="padding:0px;margin-top:7px;" title="Get help">@Sprite.Image("~/App_Sprites/icon_help.png")</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">User: <b>@User.Identity.Name</b> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="@(Url.Action<AdminController>(x => x.Emails()))">Email Notifications</a></li>
						@if (User.IsInRole("Messages"))	{ <li><a href="@(Url.Action<AdminController>(x=>x.Messages()))">Manage Messages</a></li> }
						@if (User.IsInRole("Dev"))	{ <li><a href="@(Url.Action<AdminController>(x=>x.Parse()))">Parsing Utility</a></li> }
						@if (User.IsInRole("Dev"))	{ <li><a id="lnkViewSource" href="#">View Source</a></li> }
						<li class="divider"></li>
						<li><a href="@(Url.Action<AccountsController>(x => x.Logout()))">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	@RenderBody()
</div>
<div id="uxHelpDialog" class="none">
	<div class="help-tabs">
		<ul>
			<li><a href="#help">Help</a></li>
			<li><a href="#report">Report an issue</a></li>
		</ul>
		<div id="help">
			<h2>Home</h2>
			<div>From the <code><b>Home</b></code> screen you can view the most recently updated verses, glossary terms, and files.  Files include downloadable charts, notes, bible class lessons, shows, etc.</div>
			<h2>Glossary</h2>
			<div>You can use the <code><b>Glossary</b></code> section to browse the many terms taught during Bible class lessons.  Term definitions may include links to other glossary terms or verses.  Links to other terms will be in blue and links to other verses will be in green.  You may also render a single definition or all definitions as a PDF using the PDF icons in the upper right hand corner of the glossary term.</div>
			<h2>Files</h2>
			<div>You can use the <code><b>Files</b></code> section to browse and download charts, notes, Bible class lessons, shows, and other available files.  On iOS devices, special options will be available (such as opening PDF's directly in GoodReader™, if it is installed).</div>
			<h2>Bible</h2>
			<div>You can use the <code><b>Bible</b></code> section to browse the verses of the Bible.  All 31,102 verses are there, and when available, the corrected translation is provided.  Verses may include links to glossary terms.  It is important to review the glossary term <a style="text-decoration:underline;" href="@Href("~/Glossary/Term/277")">face to face communication</a> while browsing the verses provided here. ;-)</div>
			<h2>Resources</h2>
			<div>You can use the <code><b>Resources</b></code> menu to select to view other Publications such as the Tape List, Chronology, and Atlas of Biblical Theology.</div>
			<h2>Search</h2>
			<div>You can utilize the search box to simultaneously search across all glossary terms, all verses, and all files.
				<br /><br /><b><u>Search Tips</u></b><br /><br />
				<ol>
					<li>Make your search as specific as possible.<br /><br /></li>
					<li>If you are searching for a specific phrase, be sure to include quotations around the Phrase. (Ex. rather than searching for <code><b>tomb of David</b></code>, search for the phrase <code><b>"tomb of David"</b></code> to get more relevant results.<br /><br /></li>
					<li>If you do not use quotes around your phrase, the system will remove common words (of, and, the, etc) and then find results that match ALL the remaining words.</li>
				</ol>
			</div>
			<h2>User Name Menu</h2>
			<div>You can add your email address to the list of people who are periodically notified of any updates to the glossary, files, or Bible verses.  You may also remove your address from this list at any time.</div>
			<h2>Now, enjoy! To whom much is given, much is required!</h2>
		</div>
		<div id="report">
			<form id="frmHelp">
				<div class="clearfix">
					<label for="txtHelpEmail">Your Email</label>
					<div class="input">
						<input type="text" id="txtHelpEmail" class="span4" placeholder="Your Email" />
					</div>
				</div>
				<div class="clearfix">
					<label for="cmbHelpType">Type of Issue</label>
					<div class="input">
						<select id="cmbHelpType">
							<option value="content">Content</option>
							<option value="tech">Technical</option>
						</select>
					</div>
				</div>
				<div class="clearfix">
					<label for="txtHelpUrl">Page URL (defaults to current URL)</label>
					<div class="input">
						<input type="text" id="txtHelpUrl" class="span9" placeholder="URL of page with problem" />
					</div>
				</div>
				<div class="clearfix">
					<label for="txtHelpIssue">Super Helpful and Detailed Description of Issue</label>
					<div class="input">
						<textarea id="txtHelpIssue" class="span9" rows="6" placeholder="Examples: 'There is a misspelling in the third sentence of the first paragraph of the glossary term ATONEMENT' or 'The system crashes when I click on the link for II Peter 2:3 in the definition for BIBLE'"></textarea>
					</div>
				</div>
				<div class="clearfix">
					<input type="submit" class="btn btn-primary" value="Submit Issue" />
				</div>
			</form>
		</div>
	</div>
</div>

@section styles 
{
	@if (IsSectionDefined("styles"))
	{
		@RenderSection("styles")
	}
}

@section scripts 
{
	@if (IsSectionDefined("scripts"))
	{
		@RenderSection("scripts")
	}
}

@section templates 
{
	@if (IsSectionDefined("templates"))
	{
		@RenderSection("templates")
	}
}