@using Cassette.Views;
@using MvcContrib;
@using Web.Controllers;
@{	
	Bundles.Reference("content/css/app.css", "head");

	Bundles.Reference("scripts/pre", "head");
	Bundles.Reference("scripts/app/app.js");
	
	Bundles.Reference("content/templates/global");

	string titleFormat = "{0} • Rephidim Church";
	
	string appPath = Request.ApplicationPath + (Request.ApplicationPath.EndsWith("/") ? "" : "/");

	var cookie = Request.Cookies["rephidim"];
	string lastEmail = "";
	if (cookie != null)
	{
		lastEmail = cookie["email"];
	}
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>@String.Format(titleFormat, ViewBag.Title)</title>
	<meta name="description" content="Rephidim Web Site, Created 12/2011">
	<meta name="author" content="Jorin Slaybaugh -- see humans.txt">
	@if (Request.IsAuthenticated)
	{
		<script type="text/javascript">
			if (window.screen.width < 768)
			{
				document.write('<meta name="viewport" content="width = 1000, user-scalable = yes" />');
			}
			else if (window.screen.width < 1024)
			{
				document.write('<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />');
			}
		</script>
	}
	<meta name="format-detection" content="telephone=no" />
	<link rel="apple-touch-icon-precomposed" href="@Href("~/content/img/arcs-057.png")">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Href("~/content/img/arcs-072.png")">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Href("~/content/img/arcs-114.png")">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Href("~/content/img/arcs-144.png")">
	<link rel="shortcut icon" href="@Href("~/content/img/favicon.ico")">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	@Bundles.RenderStylesheets("head")
	@Sprite.ImportStylesheet("~/App_Sprites/")
	@if (IsSectionDefined("styles"))
	{
		@RenderSection("styles")
	}
	@if (User.IsInRole("Scripture"))
	{
		<style type="text/css">.edit-rights {display:inline-block;}</style>
	}
	@Bundles.RenderScripts("head")
	<script>
		// manually add add'l modernizr classes
		h = document.getElementsByTagName('html')[0];
		h.className += Modernizr.inputtypes['range'] ? ' input-range' : ' no-input-range';
		h.className += Modernizr.inputtypes['color'] ? ' input-color' : ' no-input-color';

		// initialize syze
		syze.sizes(0,1025).debounceRate(1000).names({ 0: 'Mobile', 1025: 'Monitor' });
	</script>
</head>
<body>
	@RenderBody()
	<div id="uxAlert" class="global-message alert-message fade in hide" data-alert="true"><a class="close" data-dismiss="alert" href="#">&times;</a><p></p></div>
	@Bundles.RenderHtmlTemplates()
	@if (IsSectionDefined("templates"))
	{
		@RenderSection("templates")
	}
	@Bundles.RenderScripts()
	<script type="text/javascript">
		window._LastUsedEmail = "@lastEmail";
		App.Startup(
			"@appPath", 
			"@titleFormat",
			{
				"txt"			: '@Sprite.Image("~/App_Sprites/icon_text.png")',
				"rtf"			: '@Sprite.Image("~/App_Sprites/icon_text.png")',
				"pdf"			: '@Sprite.Image("~/App_Sprites/icon_pdf.png")',
				"mp3"			: '@Sprite.Image("~/App_Sprites/icon_mp3.png")',
				"exe"			: '@Sprite.Image("~/App_Sprites/icon_window.png")',
				"jpg"			: '@Sprite.Image("~/App_Sprites/icon_jpg.png")',
				"jpeg"			: '@Sprite.Image("~/App_Sprites/icon_jpg.png")',
				"tif"			: '@Sprite.Image("~/App_Sprites/icon_tif.png")',
				"tiff"			: '@Sprite.Image("~/App_Sprites/icon_tif.png")',
				"gif"			: '@Sprite.Image("~/App_Sprites/icon_gif.png")',
				"cdr"			: '@Sprite.Image("~/App_Sprites/icon_flow.png")',
				"asd"			: '@Sprite.Image("~/App_Sprites/icon_flow.png")',
				"unk"			: '@Sprite.Image("~/App_Sprites/icon_unk.png")',
				"open"			: '@(Sprite.Image("~/App_Sprites/icon_open.png"))',
				"goodreader"	: '@(Sprite.Image("~/App_Sprites/icon_goodreader.png"))',
				"usb"			: '@(Sprite.Image("~/App_Sprites/icon_usb.png"))',
				"email"			: '@(Sprite.Image("~/App_Sprites/icon_email.png"))',
				"folder"		: '@(Sprite.Image("~/App_Sprites/icon_folder.png"))',
				"folderadd"		: '@(Sprite.Image("~/App_Sprites/icon_folderadd.png"))',
				"edit"			: '@(Sprite.Image("~/App_Sprites/icon_pen.png"))',
				"new"			: '@(Sprite.Image("~/App_Sprites/icon_plus.png"))',
				"pdfmulti"		: '@(Sprite.Image("~/App_Sprites/icon_pdfmulti.png"))',
				"delete"		: '@(Sprite.Image("~/App_Sprites/icon_delete.png"))',
				"issue"			: '@(Sprite.Image("~/App_Sprites/icon_report.png"))'
			}
		);

		$(function ()
		{
			var Master = new App.Master();

			@if (!string.IsNullOrEmpty(Request["success"])) { <text>App.ShowAlert(@Html.Raw(Json.Encode(Request["success"])),"success");</text> }
			@if (!string.IsNullOrEmpty(Request["error"])) { <text>App.ShowAlert(@Html.Raw(Json.Encode(Request["error"])),"error");</text> }
			@if (!string.IsNullOrEmpty(Request["warning"])) { <text>App.ShowAlert(@Html.Raw(Json.Encode(Request["warning"])),"warning");</text> }
			@if (!string.IsNullOrEmpty(Request["info"])) { <text>App.ShowAlert(@Html.Raw(Json.Encode(Request["info"])),"info");</text> }
		});
	</script>
	@if (IsSectionDefined("scripts"))
	{ 
		@RenderSection("scripts")
	}
	<!--[if lt IE 8 ]>
	<script>
		if (!navigator.userAgent.match(/chromeframe/i))
		{
			$("body").html('' +
				'<div style="background:#fffacd;margin:20px;border:solid 3px #333;padding:20px;text-align:left;">' +
				'<p style="font-size:48px;line-height:20px;color:red;font-weight:bold;">WHOA! Hold on just a second...<br/><br/></p>' +
				'<p style="font-weight:bold;font-size:20px;">It appears that you are using a browser that is too old to use the advanced features of this system.</p>' +
				'<p>You have two options if you wish to continue:</p>' +
				'<ul>' +
				'	<li>You can <a href="http://www.google.com/chrome/" target="_blank">install Google Chrome</a> and enjoy the best features of this site as well the fastest browsing experience available for the entire web! <b>(Recommended)</b><br/><br/></li>' +
				'	<li>You can <a href="http://www.google.com/chromeframe/" target="_blank">install Google Chrome Frame</a> which will allow you to continue using your outdated version of Internet Explorer, but take advantage of the enhanced features of this site (and others who support Chrome Frame).</li>' +
				'</ul>' +
				'<p>You can <a href="">reload this page</a> when you\'re done.</p>' + 
				'</div>'
			);
		}
	</script>
	<![endif]-->

</body>
</html>